<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlockIntroduce.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>054C6FD81DC8779C00E596B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>054C6FF11DC8779C00E596B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>054C6FFC1DC8779C00E596B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
